body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: lightslategray;
    
  }
  
  
  .App-header {
    background-color: #282c34;
    display: flex;
    min-height: 70vmin;
    min-width: 70vmin;
    margin: -20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    border-radius: .4em;
  }
  
  h1 {
    margin: 1pt;
  }
  
  h2 {
    margin: 10pt;
  }
  
  .button{
    background-color: white;
    color: #282c34;
    min-width: 9vmin;
    min-height: 9vmin;
    font-size: 6vmin;
    text-align: center;
    border-color: none;
    margin: 2vmin;
    border-radius: .4em;
    cursor: pointer;
  }
  
  
  .button:hover {
    background-color:  lightslategray;
    color: white;
    border-color: white;
  }
  
  .input {
    border: 1px solid #000000;
    border-radius: .4em;
    padding: .60rem;
    width: 20em;
  }
  
  select{
    border: 1px solid #000000;
    border-radius: .4em;
    padding: .60rem;
    margin-left: .5rem;
  }
  
  
  #floatCell{
    overflow: hidden;
  }
  
  #inCell{
    float: left;
    align-content: flex-end;
  }

  .arrors {
    font-weight: bold;
    font-size: 2rem;
  }